.SearchBar-CreateEventButton{
  display: flex;
  align-items: center;      /* center the container vertically */
  justify-content: center;  /* center the container horizontally*/
  margin: 20px auto;        /* center the container on the page */
  gap: 20px;
}

.search-bar {
    display: flex;
    /* align-items: center; */
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
  }
  
  .search-icon {
    margin-right: 10px;
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 100%;
  }

