.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.main-content {
  padding: 20px;
  width: 100%;
  max-width: 900px;
}
