.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--color-white);
  height: 90px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.header-nav a {
  color: var(--background-color);
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.header-right img {
  padding: 0.2rem;
}

.header-right button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
