.events-button-container {
  display: flex;
  border: 1px solid var(--background-color);
  border-radius: 10px;
}

.events-header-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 5rem;
}

.create-event-header-button {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
