.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  z-index: 1000;
  height: 70px;
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.logo {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 1.7rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--background-color);
  transition: color 0.3s ease;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.button-container {
  display: flex;
  gap: 1rem;
}

.login-button,
.create-account-button {
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.login-button {
  background-color: transparent;
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

.login-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.create-account-button {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.create-account-button:hover {
  background-color: var(--accent-color);
}
