:root {
  --primary-color: #007bff;
  --secondary-color: #f1f3f5;
  --text-color: #2d2d2d;
  --background-color: #f1f3f5;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* new color theme
--text: #0c0c07;
--background: #F5F5F5;
--primary: #1E3A5F;
--secondary: #5E6572;
--accent: #BDC3C7;
 */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: #181818;
}
